<!-- page header -->
<header id="home">
  <!-- sticky menu -->
  <div class="stick-wrapper">
    <div class="sticky clear">
      <div class="grid-row">
        <img class="splash" src="img/splash.png" alt="">
        <div class="logo">
          <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <nav class="nav">
          <a href="#" class="switcher">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="clear">
            {% for sitePage in site.pages %}
              {% if sitePage.nav %}
                <li><a class="site-nav-link" href="{{ sitePage.url | prepend: site.baseurl }}">{{ sitePage.nav }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/ sticky menu -->
</header>
